<h2>Por Pais</h2>
<hr>
<div class="row">
  <div class="col">
      <app-pais-input (onEnter)="buscar( $event )" placeholder="Buscar Pais" (onDebounce)="sugerencias( $event )"></app-pais-input>
  </div>
</div>
<ul  *ngIf="mostrarSugerencias" class="list-group">
  <li *ngFor="let pais of paisesSugeridos"  class="list-group-item list-group-item-action">
    <a class="nav-link" [routerLink] = "['/pais', pais.alpha2Code]"> {{pais.name}}</a>
  </li>
  <li *ngFor="let pais of paisesSugeridos" (click)="buscarSugerido( termino )"  class="list-group-item list-group-item-action" >
    <a class="nav-link" > buscar "{{ termino}}" </a>
  </li>
</ul>
<hr>
<div *ngIf = "hayError" class="alert alert-danger">
  No se encontro nada con el termino {{ termino }}
</div>
<div *ngIf = "!hayError" class="row">
  <div class="col">
    <app-pais-tabla [paises] = "paises"></app-pais-tabla>
  </div>
</div>
